In [140]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import classification_report

import time

In [141]:
np.random.seed(42)
pd.set_option('display.max_rows', None)

In [142]:
df = pd.read_csv("Data/train.csv")
df_test = pd.read_csv("Data/test.csv")

In [143]:
df['Embarked'].fillna('S', inplace=True)
df_test['Fare'].fillna(26.55, inplace=True)

for i,r in df.iterrows():
    if pd.isnull(r['Age']):
        df.loc[df.index[i],'Age'] = df[df['Pclass'] == r['Pclass']]['Age'].median()

for i,r in df_test.iterrows():
    if pd.isnull(r['Age']):
        df_test.loc[df_test.index[i],'Age'] = df_test[df_test['Pclass'] == r['Pclass']]['Age'].median()

df.drop(columns='PassengerId', inplace=True)
df_test.drop(columns='PassengerId', inplace=True)

df.drop(columns='Cabin', inplace=True)
df_test.drop(columns='Cabin', inplace=True)

In [144]:
print(df.isnull().sum(),df_test.isnull().sum())

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64 Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64

In [145]:
df['Family']=df['Parch']+df['SibSp']+1
df_test['Family']=df_test['Parch']+df_test['SibSp']+1

In [146]:
df['Title'] = df['Name'].apply(lambda x: x.split('.')[0].split()[-1])
df_test['Title'] = df_test['Name'].apply(lambda x: x.split('.')[0].split()[-1])

Passangers =  ['Mrs', 'Mr', 'Miss', 'Ms', 'Mme', 'Mlle', 'Master']
Royals = ['Lady', 'Sir', 'Don', 'Jonkheer', 'Countess', 'Dona']
Crews = ['Major', 'Col', 'Rev', 'Capt', 'Dr']

df['Status']= df['Title'].apply(lambda x: 'Passanger' if x in Passangers  else ('Royale' if x in Royals else ('Crew' if x in Crews else 'Missing')))
df_test['Status']= df_test['Title'].apply(lambda x: 'Passanger' if x in Passangers  else ('Royale' if x in Royals else ('Crew' if x in Crews else 'Missing')))

df.drop(columns='Title', inplace=True)
df_test.drop(columns='Title', inplace=True)

df.drop(columns='Name', inplace=True)
df_test.drop(columns='Name', inplace=True)

df.drop(columns='Fare', inplace=True)
df_test.drop(columns='Fare', inplace=True)

In [154]:
df

,Survived,Pclass,Sex,SibSp,Parch,Ticket,Embarked,Status,Child,Family Size
0,0,3,male,1,0,A/5 21171,S,Passanger,0,"(1, 4]"
1,1,1,female,1,0,PC 17599,C,Passanger,0,"(1, 4]"
2,1,3,female,0,0,STON/O2. 3101282,S,Passanger,0,"(0, 1]"
3,1,1,female,1,0,113803,S,Passanger,0,"(1, 4]"
4,0,3,male,0,0,373450,S,Passanger,0,"(0, 1]"
5,0,3,male,0,0,330877,Q,Passanger,0,"(0, 1]"
6,0,1,male,0,0,17463,S,Passanger,0,"(0, 1]"
7,0,3,male,3,1,349909,S,Passanger,1,"(4, 8]"
8,1,3,female,0,2,347742,S,Passanger,0,"(1, 4]"
9,1,2,female,1,0,237736,C,Passanger,1,"(1, 4]"
10,1,3,female,1,1,PP 9549,S,Passanger,1,"(1, 4]"
11,1,1,female,0,0,113783,S,Passanger,0,"(0, 1]"
12,0,3,male,0,0,A/5. 2151,S,Passanger,0,"(0, 1]"
13,0,3,male,1,5,347082,S,Passanger,0,"(4, 8]"
14,0,3,female,0,0,350406,S,Passanger,1,"(0, 1]"
15,1,2,female,0,0,248706,S,Passanger,0,"(0, 1]"
16,0,3,male,4,1,382652,Q,Passanger,1,"(4, 8]"
17,1,2,male,0,0,244373,S,Passanger,0,"(0, 1]"
18,0,3,female,1,0,345763,S,Passanger,0,"(1, 4]"
19,1,3,female,0,0,2649,C,Passanger,0,"(0, 1]"
20,0,2,male,0,0,239865,S,Passanger,0,"(0, 1]"
21,1,2,male,0,0,248698,S,Passanger,0,"(0, 1]"
22,1,3,female,0,0,330923,Q,Passanger,1,"(0, 1]"
23,1,1,male,0,0,113788,S,Passanger,0,"(0, 1]"
24,0,3,female,3,1,349909,S,Passanger,1,"(4, 8]"
25,1,3,female,1,5,347077,S,Passanger,0,"(4, 8]"
26,0,3,male,0,0,2631,C,Passanger,0,"(0, 1]"
27,0,1,male,3,2,19950,S,Passanger,0,"(4, 8]"
28,1,3,female,0,0,330959,Q,Passanger,0,"(0, 1]"
29,0,3,male,0,0,349216,S,Passanger,0,"(0, 1]"
30,0,1,male,0,0,PC 17601,C,Royale,0,"(0, 1]"
31,1,1,female,1,0,PC 17569,C,Passanger,0,"(1, 4]"
32,1,3,female,0,0,335677,Q,Passanger,0,"(0, 1]"
33,0,2,male,0,0,C.A. 24579,S,Passanger,0,"(0, 1]"
34,0,1,male,1,0,PC 17604,C,Passanger,0,"(1, 4]"
35,0,1,male,1,0,113789,S,Passanger,0,"(1, 4]"
36,1,3,male,0,0,2677,C,Passanger,0,"(0, 1]"
37,0,3,male,0,0,A./5. 2152,S,Passanger,0,"(0, 1]"
38,0,3,female,2,0,345764,S,Passanger,0,"(1, 4]"
39,1,3,female,1,0,2651,C,Passanger,1,"(1, 4]"
40,0,3,female,1,0,7546,S,Passanger,0,"(1, 4]"
41,0,2,female,1,0,11668,S,Passanger,0,"(1, 4]"
42,0,3,male,0,0,349253,C,Passanger,0,"(0, 1]"
43,1,2,female,1,2,SC/Paris 2123,C,Passanger,1,"(1, 4]"
44,1,3,female,0,0,330958,Q,Passanger,0,"(0, 1]"
45,0,3,male,0,0,S.C./A.4. 23567,S,Passanger,0,"(0, 1]"
46,0,3,male,1,0,370371,Q,Passanger,0,"(1, 4]"
47,1,3,female,0,0,14311,Q,Passanger,0,"(0, 1]"
48,0,3,male,2,0,2662,C,Passanger,0,"(1, 4]"
49,0,3,female,1,0,349237,S,Passanger,0,"(1, 4]"
50,0,3,male,4,1,3101295,S,Passanger,1,"(4, 8]"
51,0,3,male,0,0,A/4. 39886,S,Passanger,0,"(0, 1]"
52,1,1,female,1,0,PC 17572,C,Passanger,0,"(1, 4]"
53,1,2,female,1,0,2926,S,Passanger,0,"(1, 4]"
54,0,1,male,0,1,113509,C,Passanger,0,"(1, 4]"
55,1,1,male,0,0,19947,S,Passanger,0,"(0, 1]"
56,1,2,female,0,0,C.A. 31026,S,Passanger,0,"(0, 1]"
57,0,3,male,0,0,2697,C,Passanger,0,"(0, 1]"
58,1,2,female,1,2,C.A. 34651,S,Passanger,1,"(1, 4]"
59,0,3,male,5,2,CA 2144,S,Passanger,1,"(4, 8]"
60,0,3,male,0,0,2669,C,Passanger,0,"(0, 1]"
61,1,1,female,0,0,113572,S,Passanger,0,"(0, 1]"
62,0,1,male,1,0,36973,S,Passanger,0,"(1, 4]"
63,0,3,male,3,2,347088,S,Passanger,1,"(4, 8]"
64,0,1,male,0,0,PC 17605,C,Passanger,0,"(0, 1]"
65,1,3,male,1,1,2661,C,Passanger,0,"(1, 4]"
66,1,2,female,0,0,C.A. 29395,S,Passanger,0,"(0, 1]"
67,0,3,male,0,0,S.P. 3464,S,Passanger,0,"(0, 1]"
68,1,3,female,4,2,3101281,S,Passanger,1,"(4, 8]"
69,0,3,male,2,0,315151,S,Passanger,0,"(1, 4]"
70,0,2,male,0,0,C.A. 33111,S,Passanger,0,"(0, 1]"
71,0,3,female,5,2,CA 2144,S,Passanger,1,"(4, 8]"
72,0,2,male,0,0,S.O.C. 14879,S,Passanger,0,"(0, 1]"
73,0,3,male,1,0,2680,C,Passanger,0,"(1, 4]"
74,1,3,male,0,0,1601,S,Passanger,0,"(0, 1]"
75,0,3,male,0,0,348123,S,Passanger,0,"(0, 1]"
76,0,3,male,0,0,349208,S,Passanger,0,"(0, 1]"
77,0,3,male,0,0,374746,S,Passanger,0,"(0, 1]"
78,1,2,male,0,2,248738,S,Passanger,1,"(1, 4]"
79,1,3,female,0,0,364516,S,Passanger,0,"(0, 1]"
80,0,3,male,0,0,345767,S,Passanger,0,"(0, 1]"
81,1,3,male,0,0,345779,S,Passanger,0,"(0, 1]"
82,1,3,female,0,0,330932,Q,Passanger,0,"(0, 1]"
83,0,1,male,0,0,113059,S,Passanger,0,"(0, 1]"
84,1,2,female,0,0,SO/C 14885,S,Passanger,1,"(0, 1]"
85,1,3,female,3,0,3101278,S,Passanger,0,"(1, 4]"
86,0,3,male,1,3,W./C. 6608,S,Passanger,1,"(4, 8]"
87,0,3,male,0,0,SOTON/OQ 392086,S,Passanger,0,"(0, 1]"
88,1,1,female,3,2,19950,S,Passanger,0,"(4, 8]"
89,0,3,male,0,0,343275,S,Passanger,0,"(0, 1]"
90,0,3,male,0,0,343276,S,Passanger,0,"(0, 1]"
91,0,3,male,0,0,347466,S,Passanger,0,"(0, 1]"
92,0,1,male,1,0,W.E.P. 5734,S,Passanger,0,"(1, 4]"
93,0,3,male,1,2,C.A. 2315,S,Passanger,0,"(1, 4]"
94,0,3,male,0,0,364500,S,Passanger,0,"(0, 1]"
95,0,3,male,0,0,374910,S,Passanger,0,"(0, 1]"
96,0,1,male,0,0,PC 17754,C,Passanger,0,"(0, 1]"
97,1,1,male,0,1,PC 17759,C,Passanger,0,"(1, 4]"
98,1,2,female,0,1,231919,S,Passanger,0,"(1, 4]"
99,0,2,male,1,0,244367,S,Passanger,0,"(1, 4]"
100,0,3,female,0,0,349245,S,Passanger,0,"(0, 1]"
101,0,3,male,0,0,349215,S,Passanger,0,"(0, 1]"
102,0,1,male,0,1,35281,S,Passanger,0,"(1, 4]"
103,0,3,male,0,0,7540,S,Passanger,0,"(0, 1]"
104,0,3,male,2,0,3101276,S,Passanger,0,"(1, 4]"
105,0,3,male,0,0,349207,S,Passanger,0,"(0, 1]"
106,1,3,female,0,0,343120,S,Passanger,0,"(0, 1]"
107,1,3,male,0,0,312991,S,Passanger,0,"(0, 1]"
108,0,3,male,0,0,349249,S,Passanger,0,"(0, 1]"
109,1,3,female,1,0,371110,Q,Passanger,0,"(1, 4]"
110,0,1,male,0,0,110465,S,Passanger,0,"(0, 1]"
111,0,3,female,1,0,2665,C,Passanger,1,"(1, 4]"
112,0,3,male,0,0,324669,S,Passanger,0,"(0, 1]"
113,0,3,female,1,0,4136,S,Passanger,0,"(1, 4]"
114,0,3,female,0,0,2627,C,Passanger,1,"(0, 1]"
115,0,3,male,0,0,STON/O 2. 3101294,S,Passanger,0,"(0, 1]"
116,0,3,male,0,0,370369,Q,Passanger,0,"(0, 1]"
117,0,2,male,1,0,11668,S,Passanger,0,"(1, 4]"
118,0,1,male,0,1,PC 17558,C,Passanger,0,"(1, 4]"
119,0,3,female,4,2,347082,S,Passanger,1,"(4, 8]"
120,0,2,male,2,0,S.O.C. 14879,S,Passanger,0,"(1, 4]"
121,0,3,male,0,0,A4. 54510,S,Passanger,0,"(0, 1]"
122,0,2,male,1,0,237736,C,Passanger,0,"(1, 4]"
123,1,2,female,0,0,27267,S,Passanger,0,"(0, 1]"
124,0,1,male,0,1,35281,S,Passanger,0,"(1, 4]"
125,1,3,male,1,0,2651,C,Passanger,1,"(1, 4]"
126,0,3,male,0,0,370372,Q,Passanger,0,"(0, 1]"
127,1,3,male,0,0,C 17369,S,Passanger,0,"(0, 1]"
128,1,3,female,1,1,2668,C,Passanger,0,"(1, 4]"
129,0,3,male,0,0,347061,S,Passanger,0,"(0, 1]"
130,0,3,male,0,0,349241,C,Passanger,0,"(0, 1]"
131,0,3,male,0,0,SOTON/O.Q. 3101307,S,Passanger,0,"(0, 1]"
132,0,3,female,1,0,A/5. 3337,S,Passanger,0,"(1, 4]"
133,1,2,female,1,0,228414,S,Passanger,0,"(1, 4]"
134,0,2,male,0,0,C.A. 29178,S,Passanger,0,"(0, 1]"
135,0,2,male,0,0,SC/PARIS 2133,C,Passanger,0,"(0, 1]"
136,1,1,female,0,2,11752,S,Passanger,0,"(1, 4]"
137,0,1,male,1,0,113803,S,Passanger,0,"(1, 4]"
138,0,3,male,0,0,7534,S,Passanger,1,"(0, 1]"
139,0,1,male,0,0,PC 17593,C,Passanger,0,"(0, 1]"
140,0,3,female,0,2,2678,C,Passanger,0,"(1, 4]"
141,1,3,female,0,0,347081,S,Passanger,0,"(0, 1]"
142,1,3,female,1,0,STON/O2. 3101279,S,Passanger,0,"(1, 4]"
143,0,3,male,0,0,365222,Q,Passanger,0,"(0, 1]"
144,0,2,male,0,0,231945,S,Passanger,0,"(0, 1]"
145,0,2,male,1,1,C.A. 33112,S,Passanger,0,"(1, 4]"
146,1,3,male,0,0,350043,S,Passanger,0,"(0, 1]"
147,0,3,female,2,2,W./C. 6608,S,Passanger,1,"(4, 8]"
148,0,2,male,0,2,230080,S,Passanger,0,"(1, 4]"
149,0,2,male,0,0,244310,S,Crew,0,"(0, 1]"
150,0,2,male,0,0,S.O.P. 1166,S,Crew,0,"(0, 1]"
151,1,1,female,1,0,113776,S,Passanger,0,"(1, 4]"
152,0,3,male,0,0,A.5. 11206,S,Passanger,0,"(0, 1]"
153,0,3,male,0,2,A/5. 851,S,Passanger,0,"(1, 4]"
154,0,3,male,0,0,Fa 265302,S,Passanger,0,"(0, 1]"
155,0,1,male,0,1,PC 17597,C,Passanger,0,"(1, 4]"
156,1,3,female,0,0,35851,Q,Passanger,1,"(0, 1]"
157,0,3,male,0,0,SOTON/OQ 392090,S,Passanger,0,"(0, 1]"
158,0,3,male,0,0,315037,S,Passanger,0,"(0, 1]"
159,0,3,male,8,2,CA. 2343,S,Passanger,0,"(8, 15]"
160,0,3,male,0,1,371362,S,Passanger,0,"(1, 4]"
161,1,2,female,0,0,C.A. 33595,S,Passanger,0,"(0, 1]"
162,0,3,male,0,0,347068,S,Passanger,0,"(0, 1]"
163,0,3,male,0,0,315093,S,Passanger,1,"(0, 1]"
164,0,3,male,4,1,3101295,S,Passanger,1,"(4, 8]"
165,1,3,male,0,2,363291,S,Passanger,1,"(1, 4]"
166,1,1,female,0,1,113505,S,Passanger,0,"(1, 4]"
167,0,3,female,1,4,347088,S,Passanger,0,"(4, 8]"
168,0,1,male,0,0,PC 17318,S,Passanger,0,"(0, 1]"
169,0,3,male,0,0,1601,S,Passanger,0,"(0, 1]"
170,0,1,male,0,0,111240,S,Passanger,0,"(0, 1]"
171,0,3,male,4,1,382652,Q,Passanger,1,"(4, 8]"
172,1,3,female,1,1,347742,S,Passanger,1,"(1, 4]"
173,0,3,male,0,0,STON/O 2. 3101280,S,Passanger,0,"(0, 1]"
174,0,1,male,0,0,17764,C,Passanger,0,"(0, 1]"
175,0,3,male,1,1,350404,S,Passanger,0,"(1, 4]"
176,0,3,male,3,1,4133,S,Passanger,0,"(4, 8]"
177,0,1,female,0,0,PC 17595,C,Passanger,0,"(0, 1]"
178,0,2,male,0,0,250653,S,Passanger,0,"(0, 1]"
179,0,3,male,0,0,LINE,S,Passanger,0,"(0, 1]"
180,0,3,female,8,2,CA. 2343,S,Passanger,0,"(8, 15]"
181,0,2,male,0,0,SC/PARIS 2131,C,Passanger,0,"(0, 1]"
182,0,3,male,4,2,347077,S,Passanger,1,"(4, 8]"
183,1,2,male,2,1,230136,S,Passanger,1,"(1, 4]"
184,1,3,female,0,2,315153,S,Passanger,1,"(1, 4]"
185,0,1,male,0,0,113767,S,Passanger,0,"(0, 1]"
186,1,3,female,1,0,370365,Q,Passanger,0,"(1, 4]"
187,1,1,male,0,0,111428,S,Passanger,0,"(0, 1]"
188,0,3,male,1,1,364849,Q,Passanger,0,"(1, 4]"
189,0,3,male,0,0,349247,S,Passanger,0,"(0, 1]"
190,1,2,female,0,0,234604,S,Passanger,0,"(0, 1]"
191,0,2,male,0,0,28424,S,Passanger,0,"(0, 1]"
192,1,3,female,1,0,350046,S,Passanger,0,"(1, 4]"
193,1,2,male,1,1,230080,S,Passanger,1,"(1, 4]"
194,1,1,female,0,0,PC 17610,C,Passanger,0,"(0, 1]"
195,1,1,female,0,0,PC 17569,C,Passanger,0,"(0, 1]"
196,0,3,male,0,0,368703,Q,Passanger,0,"(0, 1]"
197,0,3,male,0,1,4579,S,Passanger,0,"(1, 4]"
198,1,3,female,0,0,370370,Q,Passanger,0,"(0, 1]"
199,0,2,female,0,0,248747,S,Passanger,0,"(0, 1]"
200,0,3,male,0,0,345770,S,Passanger,0,"(0, 1]"
201,0,3,male,8,2,CA. 2343,S,Passanger,0,"(8, 15]"
202,0,3,male,0,0,3101264,S,Passanger,0,"(0, 1]"
203,0,3,male,0,0,2628,C,Passanger,0,"(0, 1]"
204,1,3,male,0,0,A/5 3540,S,Passanger,0,"(0, 1]"
205,0,3,female,0,1,347054,S,Passanger,1,"(1, 4]"
206,0,3,male,1,0,3101278,S,Passanger,0,"(1, 4]"
207,1,3,male,0,0,2699,C,Passanger,0,"(0, 1]"
208,1,3,female,0,0,367231,Q,Passanger,1,"(0, 1]"
209,1,1,male,0,0,112277,C,Passanger,0,"(0, 1]"
210,0,3,male,0,0,SOTON/O.Q. 3101311,S,Passanger,0,"(0, 1]"
211,1,2,female,0,0,F.C.C. 13528,S,Passanger,0,"(0, 1]"
212,0,3,male,0,0,A/5 21174,S,Passanger,0,"(0, 1]"
213,0,2,male,0,0,250646,S,Passanger,0,"(0, 1]"
214,0,3,male,1,0,367229,Q,Passanger,0,"(1, 4]"
215,1,1,female,1,0,35273,C,Passanger,0,"(1, 4]"
216,1,3,female,0,0,STON/O2. 3101283,S,Passanger,0,"(0, 1]"
217,0,2,male,1,0,243847,S,Passanger,0,"(1, 4]"
218,1,1,female,0,0,11813,C,Passanger,0,"(0, 1]"
219,0,2,male,0,0,W/C 14208,S,Passanger,0,"(0, 1]"
220,1,3,male,0,0,SOTON/OQ 392089,S,Passanger,1,"(0, 1]"
221,0,2,male,0,0,220367,S,Passanger,0,"(0, 1]"
222,0,3,male,0,0,21440,S,Passanger,0,"(0, 1]"
223,0,3,male,0,0,349234,S,Passanger,0,"(0, 1]"
224,1,1,male,1,0,19943,S,Passanger,0,"(1, 4]"
225,0,3,male,0,0,PP 4348,S,Passanger,0,"(0, 1]"
226,1,2,male,0,0,SW/PP 751,S,Passanger,0,"(0, 1]"
227,0,3,male,0,0,A/5 21173,S,Passanger,0,"(0, 1]"
228,0,2,male,0,0,236171,S,Passanger,0,"(0, 1]"
229,0,3,female,3,1,4133,S,Passanger,0,"(4, 8]"
230,1,1,female,1,0,36973,S,Passanger,0,"(1, 4]"
231,0,3,male,0,0,347067,S,Passanger,0,"(0, 1]"
232,0,2,male,0,0,237442,S,Passanger,0,"(0, 1]"
233,1,3,female,4,2,347077,S,Passanger,1,"(4, 8]"
234,0,2,male,0,0,C.A. 29566,S,Passanger,0,"(0, 1]"
235,0,3,female,0,0,W./C. 6609,S,Passanger,0,"(0, 1]"
236,0,2,male,1,0,26707,S,Passanger,0,"(1, 4]"
237,1,2,female,0,2,C.A. 31921,S,Passanger,1,"(1, 4]"
238,0,2,male,0,0,28665,S,Passanger,0,"(0, 1]"
239,0,2,male,0,0,SCO/W 1585,S,Passanger,0,"(0, 1]"
240,0,3,female,1,0,2665,C,Passanger,0,"(1, 4]"
241,1,3,female,1,0,367230,Q,Passanger,0,"(1, 4]"
242,0,2,male,0,0,W./C. 14263,S,Passanger,0,"(0, 1]"
243,0,3,male,0,0,STON/O 2. 3101275,S,Passanger,0,"(0, 1]"
244,0,3,male,0,0,2694,C,Passanger,0,"(0, 1]"
245,0,1,male,2,0,19928,Q,Crew,0,"(1, 4]"
246,0,3,female,0,0,347071,S,Passanger,0,"(0, 1]"
247,1,2,female,0,2,250649,S,Passanger,0,"(1, 4]"
248,1,1,male,1,1,11751,S,Passanger,0,"(1, 4]"
249,0,2,male,1,0,244252,S,Crew,0,"(1, 4]"
250,0,3,male,0,0,362316,S,Passanger,0,"(0, 1]"
251,0,3,female,1,1,347054,S,Passanger,0,"(1, 4]"
252,0,1,male,0,0,113514,S,Passanger,0,"(0, 1]"
253,0,3,male,1,0,A/5. 3336,S,Passanger,0,"(1, 4]"
254,0,3,female,0,2,370129,S,Passanger,0,"(1, 4]"
255,1,3,female,0,2,2650,C,Passanger,0,"(1, 4]"
256,1,1,female,0,0,PC 17585,C,Passanger,0,"(0, 1]"
257,1,1,female,0,0,110152,S,Passanger,0,"(0, 1]"
258,1,1,female,0,0,PC 17755,C,Passanger,0,"(0, 1]"
259,1,2,female,0,1,230433,S,Passanger,0,"(1, 4]"
260,0,3,male,0,0,384461,Q,Passanger,0,"(0, 1]"
261,1,3,male,4,2,347077,S,Passanger,1,"(4, 8]"
262,0,1,male,1,1,110413,S,Passanger,0,"(1, 4]"
263,0,1,male,0,0,112059,S,Passanger,0,"(0, 1]"
264,0,3,female,0,0,382649,Q,Passanger,0,"(0, 1]"
265,0,2,male,0,0,C.A. 17248,S,Passanger,0,"(0, 1]"
266,0,3,male,4,1,3101295,S,Passanger,1,"(4, 8]"
267,1,3,male,1,0,347083,S,Passanger,0,"(1, 4]"
268,1,1,female,0,1,PC 17582,S,Passanger,0,"(1, 4]"
269,1,1,female,0,0,PC 17760,S,Passanger,0,"(0, 1]"
270,0,1,male,0,0,113798,S,Passanger,0,"(0, 1]"
271,1,3,male,0,0,LINE,S,Passanger,0,"(0, 1]"
272,1,2,female,0,1,250644,S,Passanger,0,"(1, 4]"
273,0,1,male,0,1,PC 17596,C,Passanger,0,"(1, 4]"
274,1,3,female,0,0,370375,Q,Passanger,0,"(0, 1]"
275,1,1,female,1,0,13502,S,Passanger,0,"(1, 4]"
276,0,3,female,0,0,347073,S,Passanger,0,"(0, 1]"
277,0,2,male,0,0,239853,S,Passanger,0,"(0, 1]"
278,0,3,male,4,1,382652,Q,Passanger,1,"(4, 8]"
279,1,3,female,1,1,C.A. 2673,S,Passanger,0,"(1, 4]"
280,0,3,male,0,0,336439,Q,Passanger,0,"(0, 1]"
281,0,3,male,0,0,347464,S,Passanger,0,"(0, 1]"
282,0,3,male,0,0,345778,S,Passanger,1,"(0, 1]"
283,1,3,male,0,0,A/5. 10482,S,Passanger,0,"(0, 1]"
284,0,1,male,0,0,113056,S,Passanger,0,"(0, 1]"
285,0,3,male,0,0,349239,C,Passanger,0,"(0, 1]"
286,1,3,male,0,0,345774,S,Passanger,0,"(0, 1]"
287,0,3,male,0,0,349206,S,Passanger,0,"(0, 1]"
288,1,2,male,0,0,237798,S,Passanger,0,"(0, 1]"
289,1,3,female,0,0,370373,Q,Passanger,0,"(0, 1]"
290,1,1,female,0,0,19877,S,Passanger,0,"(0, 1]"
291,1,1,female,1,0,11967,C,Passanger,0,"(1, 4]"
292,0,2,male,0,0,SC/Paris 2163,C,Passanger,0,"(0, 1]"
293,0,3,female,0,0,349236,S,Passanger,0,"(0, 1]"
294,0,3,male,0,0,349233,S,Passanger,0,"(0, 1]"
295,0,1,male,0,0,PC 17612,C,Passanger,0,"(0, 1]"
296,0,3,male,0,0,2693,C,Passanger,0,"(0, 1]"
297,0,1,female,1,2,113781,S,Passanger,1,"(1, 4]"
298,1,1,male,0,0,19988,S,Passanger,0,"(0, 1]"
299,1,1,female,0,1,PC 17558,C,Passanger,0,"(1, 4]"
300,1,3,female,0,0,9234,Q,Passanger,0,"(0, 1]"
301,1,3,male,2,0,367226,Q,Passanger,0,"(1, 4]"
302,0,3,male,0,0,LINE,S,Passanger,0,"(0, 1]"
303,1,2,female,0,0,226593,Q,Passanger,0,"(0, 1]"
304,0,3,male,0,0,A/5 2466,S,Passanger,0,"(0, 1]"
305,1,1,male,1,2,113781,S,Passanger,1,"(1, 4]"
306,1,1,female,0,0,17421,C,Passanger,0,"(0, 1]"
307,1,1,female,1,0,PC 17758,C,Passanger,1,"(1, 4]"
308,0,2,male,1,0,P/PP 3381,C,Passanger,0,"(1, 4]"
309,1,1,female,0,0,PC 17485,C,Passanger,0,"(0, 1]"
310,1,1,female,0,0,11767,C,Passanger,0,"(0, 1]"
311,1,1,female,2,2,PC 17608,C,Passanger,0,"(4, 8]"
312,0,2,female,1,1,250651,S,Passanger,0,"(1, 4]"
313,0,3,male,0,0,349243,S,Passanger,0,"(0, 1]"
314,0,2,male,1,1,F.C.C. 13529,S,Passanger,0,"(1, 4]"
315,1,3,female,0,0,347470,S,Passanger,0,"(0, 1]"
316,1,2,female,1,0,244367,S,Passanger,0,"(1, 4]"
317,0,2,male,0,0,29011,S,Crew,0,"(0, 1]"
318,1,1,female,0,2,36928,S,Passanger,0,"(1, 4]"
319,1,1,female,1,1,16966,C,Passanger,0,"(1, 4]"
320,0,3,male,0,0,A/5 21172,S,Passanger,0,"(0, 1]"
321,0,3,male,0,0,349219,S,Passanger,0,"(0, 1]"
322,1,2,female,0,0,234818,Q,Passanger,0,"(0, 1]"
323,1,2,female,1,1,248738,S,Passanger,0,"(1, 4]"
324,0,3,male,8,2,CA. 2343,S,Passanger,0,"(8, 15]"
325,1,1,female,0,0,PC 17760,C,Passanger,0,"(0, 1]"
326,0,3,male,0,0,345364,S,Passanger,0,"(0, 1]"
327,1,2,female,0,0,28551,S,Passanger,0,"(0, 1]"
328,1,3,female,1,1,363291,S,Passanger,0,"(1, 4]"
329,1,1,female,0,1,111361,C,Passanger,1,"(1, 4]"
330,1,3,female,2,0,367226,Q,Passanger,0,"(1, 4]"
331,0,1,male,0,0,113043,S,Passanger,0,"(0, 1]"
332,0,1,male,0,1,PC 17582,S,Passanger,0,"(1, 4]"
333,0,3,male,2,0,345764,S,Passanger,1,"(1, 4]"
334,1,1,female,1,0,PC 17611,S,Passanger,0,"(1, 4]"
335,0,3,male,0,0,349225,S,Passanger,0,"(0, 1]"
336,0,1,male,1,0,113776,S,Passanger,0,"(1, 4]"
337,1,1,female,0,0,16966,C,Passanger,0,"(0, 1]"
338,1,3,male,0,0,7598,S,Passanger,0,"(0, 1]"
339,0,1,male,0,0,113784,S,Passanger,0,"(0, 1]"
340,1,2,male,1,1,230080,S,Passanger,1,"(1, 4]"
341,1,1,female,3,2,19950,S,Passanger,0,"(4, 8]"
342,0,2,male,0,0,248740,S,Passanger,0,"(0, 1]"
343,0,2,male,0,0,244361,S,Passanger,0,"(0, 1]"
344,0,2,male,0,0,229236,S,Passanger,0,"(0, 1]"
345,1,2,female,0,0,248733,S,Passanger,0,"(0, 1]"
346,1,2,female,0,0,31418,S,Passanger,0,"(0, 1]"
347,1,3,female,1,0,386525,S,Passanger,0,"(1, 4]"
348,1,3,male,1,1,C.A. 37671,S,Passanger,1,"(1, 4]"
349,0,3,male,0,0,315088,S,Passanger,0,"(0, 1]"
350,0,3,male,0,0,7267,S,Passanger,0,"(0, 1]"
351,0,1,male,0,0,113510,S,Passanger,0,"(0, 1]"
352,0,3,male,1,1,2695,C,Passanger,1,"(1, 4]"
353,0,3,male,1,0,349237,S,Passanger,0,"(1, 4]"
354,0,3,male,0,0,2647,C,Passanger,0,"(0, 1]"
355,0,3,male,0,0,345783,S,Passanger,0,"(0, 1]"
356,1,1,female,0,1,113505,S,Passanger,0,"(1, 4]"
357,0,2,female,0,0,237671,S,Passanger,0,"(0, 1]"
358,1,3,female,0,0,330931,Q,Passanger,0,"(0, 1]"
359,1,3,female,0,0,330980,Q,Passanger,0,"(0, 1]"
360,0,3,male,1,4,347088,S,Passanger,0,"(4, 8]"
361,0,2,male,1,0,SC/PARIS 2167,C,Passanger,0,"(1, 4]"
362,0,3,female,0,1,2691,C,Passanger,0,"(1, 4]"
363,0,3,male,0,0,SOTON/O.Q. 3101310,S,Passanger,0,"(0, 1]"
364,0,3,male,1,0,370365,Q,Passanger,0,"(1, 4]"
365,0,3,male,0,0,C 7076,S,Passanger,0,"(0, 1]"
366,1,1,female,1,0,110813,C,Passanger,0,"(1, 4]"
367,1,3,female,0,0,2626,C,Passanger,0,"(0, 1]"
368,1,3,female,0,0,14313,Q,Passanger,0,"(0, 1]"
369,1,1,female,0,0,PC 17477,C,Passanger,0,"(0, 1]"
370,1,1,male,1,0,11765,C,Passanger,0,"(1, 4]"
371,0,3,male,1,0,3101267,S,Passanger,0,"(1, 4]"
372,0,3,male,0,0,323951,S,Passanger,0,"(0, 1]"
373,0,1,male,0,0,PC 17760,C,Passanger,0,"(0, 1]"
374,0,3,female,3,1,349909,S,Passanger,1,"(4, 8]"
375,1,1,female,1,0,PC 17604,C,Passanger,0,"(1, 4]"
376,1,3,female,0,0,C 7077,S,Passanger,0,"(0, 1]"
377,0,1,male,0,2,113503,C,Passanger,0,"(1, 4]"
378,0,3,male,0,0,2648,C,Passanger,0,"(0, 1]"
379,0,3,male,0,0,347069,S,Passanger,0,"(0, 1]"
380,1,1,female,0,0,PC 17757,C,Passanger,0,"(0, 1]"
381,1,3,female,0,2,2653,C,Passanger,1,"(1, 4]"
382,0,3,male,0,0,STON/O 2. 3101293,S,Passanger,0,"(0, 1]"
383,1,1,female,1,0,113789,S,Passanger,0,"(1, 4]"
384,0,3,male,0,0,349227,S,Passanger,0,"(0, 1]"
385,0,2,male,0,0,S.O.C. 14879,S,Passanger,0,"(0, 1]"
386,0,3,male,5,2,CA 2144,S,Passanger,1,"(4, 8]"
387,1,2,female,0,0,27849,S,Passanger,0,"(0, 1]"
388,0,3,male,0,0,367655,Q,Passanger,0,"(0, 1]"
389,1,2,female,0,0,SC 1748,C,Passanger,1,"(0, 1]"
390,1,1,male,1,2,113760,S,Passanger,0,"(1, 4]"
391,1,3,male,0,0,350034,S,Passanger,0,"(0, 1]"
392,0,3,male,2,0,3101277,S,Passanger,0,"(1, 4]"
393,1,1,female,1,0,35273,C,Passanger,0,"(1, 4]"
394,1,3,female,0,2,PP 9549,S,Passanger,0,"(1, 4]"
395,0,3,male,0,0,350052,S,Passanger,0,"(0, 1]"
396,0,3,female,0,0,350407,S,Passanger,0,"(0, 1]"
397,0,2,male,0,0,28403,S,Passanger,0,"(0, 1]"
398,0,2,male,0,0,244278,S,Crew,0,"(0, 1]"
399,1,2,female,0,0,240929,S,Passanger,0,"(0, 1]"
400,1,3,male,0,0,STON/O 2. 3101289,S,Passanger,0,"(0, 1]"
401,0,3,male,0,0,341826,S,Passanger,0,"(0, 1]"
402,0,3,female,1,0,4137,S,Passanger,0,"(1, 4]"
403,0,3,male,1,0,STON/O2. 3101279,S,Passanger,0,"(1, 4]"
404,0,3,female,0,0,315096,S,Passanger,0,"(0, 1]"
405,0,2,male,1,0,28664,S,Passanger,0,"(1, 4]"
406,0,3,male,0,0,347064,S,Passanger,0,"(0, 1]"
407,1,2,male,1,1,29106,S,Passanger,1,"(1, 4]"
408,0,3,male,0,0,312992,S,Passanger,0,"(0, 1]"
409,0,3,female,3,1,4133,S,Passanger,0,"(4, 8]"
410,0,3,male,0,0,349222,S,Passanger,0,"(0, 1]"
411,0,3,male,0,0,394140,Q,Passanger,0,"(0, 1]"
412,1,1,female,1,0,19928,Q,Passanger,0,"(1, 4]"

In [148]:
df['Child']=df['Age'].apply(lambda x: 1 if x < 18 else 0 )
df_test['Child']=df_test['Age'].apply(lambda x: 1 if x < 18 else 0 )

df.drop(columns='Age', inplace=True)
df_test.drop(columns='Age', inplace=True)

In [153]:
df['Family Size'] = pd.cut(df['Family'], bins=[0,1,4,8,15])
df_test['Family Size'] = pd.cut(df_test['Family'], bins=[0,1,4,8,15])

df.drop(columns='Family', inplace=True)
df_test.drop(columns='Family', inplace=True)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Ticket    891 non-null    object
 6   Embarked  891 non-null    object
 7   Family    891 non-null    int64
 8   Status    891 non-null    object
 9   Child     891 non-null    int64
dtypes: int64(6), object(4)
memory usage: 69.7+ KB

In [155]:
df['Pclass']=df['Pclass'].astype('category')
df['Sex']=df['Sex'].astype('category')
df['Embarked']=df['Embarked'].astype('category')
df['Status']=df['Status'].astype('category')

df_test['Pclass']=df_test['Pclass'].astype('category')
df_test['Sex']=df_test['Sex'].astype('category')
df_test['Embarked']=df_test['Embarked'].astype('category')
df_test['Status']=df_test['Status'].astype('category')

In [156]:
df.drop(columns='Ticket', inplace=True)
df_test.drop(columns='Ticket', inplace=True)

In [160]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
Survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
SibSp,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
Parch,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
Pclass_1,False,True,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,True,False
Pclass_2,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,False,True,False,False,False,False
Pclass_3,True,False,True,False,True,True,False,True,True,False,...,True,True,False,True,True,False,False,True,False,True
Sex_female,False,True,True,True,False,False,False,False,True,True,...,False,True,False,False,True,False,True,True,False,False
Sex_male,True,False,False,False,True,True,True,True,False,False,...,True,False,True,True,False,True,False,False,True,True
"Family Size_(0, 1]",False,False,True,False,True,True,True,False,False,False,...,True,True,True,True,False,True,True,False,True,True
"Family Size_(1, 4]",True,True,False,True,False,False,False,False,True,True,...,False,False,False,False,False,False,False,True,False,False
"Family Size_(4, 8]",False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
"Family Size_(8, 15]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Embarked_C,False,True,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
Embarked_Q,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
Embarked_S,True,False,True,True,True,False,True,True,True,False,...,True,True,True,True,False,True,True,True,False,False
Status_Crew,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
Status_Passanger,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
Status_Royale,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Child_0,True,True,True,True,True,True,True,False,True,False,...,True,True,True,True,True,True,True,True,True,True
Child_1,False,False,False,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False

In [158]:
one_hot_encoded_df = pd.get_dummies(df, columns = ['Pclass', 'Sex','Family Size','Embarked', 'Status', 'Child'])
one_hot_encoded_df_test = pd.get_dummies(df_test, columns = ['Pclass', 'Sex','Family Size','Embarked', 'Status', 'Child'])

In [159]:
df = one_hot_encoded_df
df_test = one_hot_encoded_df_test

In [262]:
one_hot_encoded_df = pd.get_dummies(df, columns = ['Pclass', 'Sex'])
one_hot_encoded_df_test = pd.get_dummies(df_test, columns = ['Pclass', 'Sex'])

In [161]:
X= df.drop('Survived', axis=1)
y= df.Survived.values

In [162]:
from sklearn.model_selection import KFold

kfold_splitter = KFold(n_splits=5, random_state = 42, shuffle=True)

In [163]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.2, random_state=42)

In [172]:
modelRF= RandomForestClassifier(n_estimators=350, random_state=42,min_samples_split=6,min_samples_leaf=4,max_depth=None)
modelRF.fit(X_train, y_train)

v_acc = cross_val_score(modelRF,
                         X,
                         y,
                         cv=kfold_splitter,
                         scoring="accuracy")

print(v_acc,np.mean(v_acc),modelRF.score(X_valid, y_valid))

[0.81564246 0.80337079 0.88202247 0.78089888 0.83707865] 0.8238026489234826 0.8100558659217877

In [165]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train)
clf.score(X_valid, y_valid)

0.8044692737430168

In [171]:
from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier(n_neighbors=21)
clf.fit(X_train, y_train)
clf.score(X_valid, y_valid)

0.8100558659217877

In [173]:
finalModel=RandomForestClassifier(n_estimators=350, random_state=42,min_samples_split=6,min_samples_leaf=3,max_depth=None)
#finalModel=svm.SVC()
#finalModel= KNeighborsClassifier(n_neighbors=26)
finalModel.fit(X,y)
pred = finalModel.predict(df_test)

In [174]:
write= pd.read_csv("Data/test.csv")
result=pd.DataFrame({"PassengerId":write['PassengerId'],"Survived":pred})

In [175]:
result.to_csv("result.csv", index=False)

In [290]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
Survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
Pclass_1,False,True,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,True,False
Pclass_2,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,False,True,False,False,False,False
Pclass_3,True,False,True,False,True,True,False,True,True,False,...,True,True,False,True,True,False,False,True,False,True
Sex_female,False,True,True,True,False,False,False,False,True,True,...,False,True,False,False,True,False,True,True,False,False
Sex_male,True,False,False,False,True,True,True,True,False,False,...,True,False,True,True,False,True,False,False,True,True
Embarked_C,False,True,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
Embarked_Q,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
Embarked_S,True,False,True,True,True,False,True,True,True,False,...,True,True,True,True,False,True,True,True,False,False
Fare Value_Cheap,True,False,True,False,True,True,False,True,True,True,...,True,True,True,True,True,True,False,True,False,True
Fare Value_Deluxe,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Fare Value_Expensive,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Fare Value_Mid,False,True,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,True,False
Status_Crew,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
Status_Passanger,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
Status_Royale,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(0, 5]",False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(5, 10]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(10, 15]",False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
"age_category_(15, 20]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
"age_category_(20, 25]",True,False,False,False,False,True,False,False,False,False,...,False,True,False,True,False,False,False,True,False,False
"age_category_(25, 30]",False,False,True,False,False,False,False,False,True,False,...,False,False,True,False,False,True,False,False,True,False
"age_category_(30, 35]",False,False,False,True,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
"age_category_(35, 40]",False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
"age_category_(40, 45]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(45, 50]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(50, 55]",False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(55, 60]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(60, 65]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(65, 70]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(70, 75]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(75, 80]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(80, 85]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(85, 90]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(90, 95]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(95, 100]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False