In [331]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import classification_report

import time

In [332]:
np.random.seed(42)
pd.set_option('display.max_rows', None)

In [333]:
df = pd.read_csv("Data/train.csv")
df_test = pd.read_csv("Data/test.csv")

In [334]:
df['Embarked'].fillna('S', inplace=True)
df_test['Fare'].fillna(26.55, inplace=True)
for i,r in df.iterrows():
    if pd.isnull(r['Age']):
        print(df[df['Pclass'] == r['Pclass']]['Age'].median() ,r['Pclass'])
        df.loc[df.index[i],'Age'] = df[df['Pclass'] == r['Pclass']]['Age'].median()

for i,r in df_test.iterrows():
    if pd.isnull(r['Age']):
        print(df_test[df_test['Pclass'] == r['Pclass']]['Age'].median() ,r['Pclass'])
        df_test.loc[df_test.index[i],'Age'] = df_test[df_test['Pclass'] == r['Pclass']]['Age'].median()

24.0 3
29.0 2
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
37.0 1
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
37.0 1
24.0 3
24.0 3
29.0 2
37.0 1
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
24.0 3
24.0 3
37.0 1
24.0 3
29.0 2
37.0 1
37.0 1
37.0 1
24.0 3
24.0 3
29.0 2
24.0 3
37.0 1
24.0 3
24.0 3
37.0 1
24.0 3
24.0 3
37.0 1
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
29.0 2
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
24.0 3
24.0 3
29.0 2
24.0 3
24.0 3
37.0 1
29.0 2
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
24.0 3
24.0 3
24.0 3
29.0 2
24.0 3
37.0 1
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
29.0 2
24.0 3
24.0 3
37.0 1
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
29.0 2
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
24.0 3
24.0 3
29.0 2
24.0 3
24.0 3
37.0 1
24.0 3
37.0 1
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
37.0 1
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
37.0 1
24.0 3
37.0 1
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
42.0 1
24.0 3
24.0 3
24.0 3
24.0 3
42.0 1
24.0 3
26.5 2
24.0 3
26.5 2
24.0 3
24.0 3
26.5 2
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
42.0 1
42.0 1
24.0 3
24.0 3
24.0 3
42.0 1
24.0 3
24.0 3
24.0 3
24.0 3
42.0 1
24.0 3
24.0 3
42.0 1
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
42.0 1
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
42.0 1
24.0 3
24.0 3
26.5 2
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3
26.5 2
24.0 3
24.0 3
24.0 3
24.0 3
24.0 3

In [335]:
print(df.isnull().sum(),df_test.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64 PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [261]:
merge = pd.concat([df,df_test],ignore_index=1)

print(merge['Cabin Letter'].value_counts())

Cabin Letter
N    1014
C      94
B      65
D      46
E      41
A      22
F      21
G       5
T       1
Name: count, dtype: int64

In [260]:
df['Cabin Letter']=df['Cabin'].apply(lambda x: x[0] if not pd.isna(x) else 'N')
df_test['Cabin Letter']=df_test['Cabin'].apply(lambda x: x[0] if not pd.isna(x) else 'N')

In [262]:
df['Cabin N']=df['Cabin Letter'].apply(lambda x: 1 if x == 'N' else 0)
df['Cabin C']=df['Cabin Letter'].apply(lambda x: 1 if x == 'C' else 0)
df['Cabin B']=df['Cabin Letter'].apply(lambda x: 1 if x == 'B' else 0)
df['Cabin D']=df['Cabin Letter'].apply(lambda x: 1 if x == 'D' else 0)
df['Cabin E']=df['Cabin Letter'].apply(lambda x: 1 if x == 'E' else 0)
df['Cabin A']=df['Cabin Letter'].apply(lambda x: 1 if x == 'A' else 0)
df['Cabin F']=df['Cabin Letter'].apply(lambda x: 1 if x == 'F' else 0)
df['Cabin G']=df['Cabin Letter'].apply(lambda x: 1 if x == 'G' else 0)
df['Cabin T']=df['Cabin Letter'].apply(lambda x: 1 if x == 'T' else 0)

df_test['Cabin N']=df_test['Cabin Letter'].apply(lambda x: 1 if x == 'N' else 0)
df_test['Cabin C']=df_test['Cabin Letter'].apply(lambda x: 1 if x == 'C' else 0)
df_test['Cabin B']=df_test['Cabin Letter'].apply(lambda x: 1 if x == 'B' else 0)
df_test['Cabin D']=df_test['Cabin Letter'].apply(lambda x: 1 if x == 'D' else 0)
df_test['Cabin E']=df_test['Cabin Letter'].apply(lambda x: 1 if x == 'E' else 0)
df_test['Cabin A']=df_test['Cabin Letter'].apply(lambda x: 1 if x == 'A' else 0)
df_test['Cabin F']=df_test['Cabin Letter'].apply(lambda x: 1 if x == 'F' else 0)
df_test['Cabin G']=df_test['Cabin Letter'].apply(lambda x: 1 if x == 'G' else 0)
df_test['Cabin T']=df_test['Cabin Letter'].apply(lambda x: 1 if x == 'T' else 0)

In [336]:
df.drop(columns='PassengerId', inplace=True)
df_test.drop(columns='PassengerId', inplace=True)

df.drop(columns='Cabin', inplace=True)
df_test.drop(columns='Cabin', inplace=True)

"""df.drop(columns='Cabin Letter', inplace=True)
df_test.drop(columns='Cabin Letter', inplace=True)"""

"df.drop(columns='Cabin Letter', inplace=True)\ndf_test.drop(columns='Cabin Letter', inplace=True)"

In [337]:
df['Family']=df['Parch']+df['SibSp']+1
df_test['Family']=df_test['Parch']+df_test['SibSp']+1

In [338]:
df.drop(columns='Parch', inplace=True)
df_test.drop(columns='Parch', inplace=True)

df.drop(columns='SibSp', inplace=True)
df_test.drop(columns='SibSp', inplace=True)

In [339]:
df['Family Solo'] = df['Family'].apply(lambda x: 1 if x == 1 else 0)
df['Family Small'] = df['Family'].apply(lambda x: 1 if x >1 and x <4 else 0)
df['Family Normal'] = df['Family'].apply(lambda x: 1 if x >= 4 and x <6 else 0)
df['Family Big'] = df['Family'].apply(lambda x: 1 if x >=6 else 0)

df_test['Family Solo'] = df_test['Family'].apply(lambda x: 1 if x == 1 else 0)
df_test['Family Small'] = df_test['Family'].apply(lambda x: 1 if x >1 and x <4 else 0)
df_test['Family Normal'] = df_test['Family'].apply(lambda x: 1 if x >= 4 and x <6 else 0)
df_test['Family Big'] = df_test['Family'].apply(lambda x: 1 if x >=6 else 0)

In [340]:
df['Embarked S'] = df['Embarked'].apply(lambda x: 1 if x == 'S' or type(x) != str else 0)
df['Embarked C'] = df['Embarked'].apply(lambda x: 1 if x == 'C' else 0)
df['Embarked Q'] = df['Embarked'].apply(lambda x: 1 if x == 'Q' else 0)

df_test['Embarked S'] = df_test['Embarked'].apply(lambda x: 1 if x == 'S' or type(x) != str else 0)
df_test['Embarked C'] = df_test['Embarked'].apply(lambda x: 1 if x == 'C' else 0)
df_test['Embarked Q'] = df_test['Embarked'].apply(lambda x: 1 if x == 'Q' else 0)

In [341]:
df['Fare Per P'] = df['Fare']/df['Family']
df_test['Fare Per P'] = df_test['Fare']/df_test['Family']

In [342]:
df['Fare Cheap']= df['Fare Per P'].apply(lambda x: 1 if x < 20 else 0)
df['Fare Mid']= df['Fare Per P'].apply(lambda x: 1 if x >= 20 and x < 70 else 0)
df['Fare Expensive']= df['Fare Per P'].apply(lambda x: 1 if x >= 70 and x < 200 else 0)
df['Fare Ultra']= df['Fare Per P'].apply(lambda x: 1 if x >= 200 else 0)

df_test['Fare Cheap']= df_test['Fare Per P'].apply(lambda x: 1 if x < 20 else 0)
df_test['Fare Mid']= df_test['Fare Per P'].apply(lambda x: 1 if x >= 20 and x < 70 else 0)
df_test['Fare Expensive']= df_test['Fare Per P'].apply(lambda x: 1 if x >= 70 and x < 200 else 0)
df_test['Fare Ultra']= df_test['Fare Per P'].apply(lambda x: 1 if x >= 200 else 0)

In [343]:
df['Title'] = df['Name'].apply(lambda x: x.split('.')[0].split()[-1])
df_test['Title'] = df_test['Name'].apply(lambda x: x.split('.')[0].split()[-1])

In [344]:
df['Passanger'] = df['Title'].apply(lambda x: 1 if x in ['Mrs', 'Mr', 'Miss', 'Ms', 'Mme', 'Mlle', 'Master'] else 0)
df['Royale'] = df['Title'].apply(lambda x: 1 if x in ['Lady', 'Sir', 'Don', 'Jonkheer', 'Countess', 'Dona'] else 0)
df['Crew'] = df['Title'].apply(lambda x: 1 if x in ['Major', 'Col', 'Rev', 'Capt', 'Dr'] else 0)

df_test['Passanger'] = df_test['Title'].apply(lambda x: 1 if x in ['Mrs', 'Mr', 'Miss', 'Ms', 'Mme', 'Mlle', 'Master'] else 0)
df_test['Royale'] = df_test['Title'].apply(lambda x: 1 if x in ['Lady', 'Sir', 'Don', 'Jonkheer', 'Countess', 'Dona'] else 0)
df_test['Crew'] = df_test['Title'].apply(lambda x: 1 if x in ['Major', 'Col', 'Rev', 'Capt', 'Dr'] else 0)

In [345]:
df['Child']= df['Age'].apply(lambda x: 1 if x < 16 else 0)
df['Young']= df['Age'].apply(lambda x: 1 if x >= 16 and x < 28 else 0)
df['Mature']= df['Age'].apply(lambda x: 1 if x >= 28 and x < 55 else 0)
df['Old']= df['Age'].apply(lambda x: 1 if x >= 55 else 0)

df_test['Child']= df_test['Age'].apply(lambda x: 1 if x < 16 else 0)
df_test['Young']= df_test['Age'].apply(lambda x: 1 if x >= 16 and x < 28 else 0)
df_test['Mature']= df_test['Age'].apply(lambda x: 1 if x >= 28 and x < 55 else 0)
df_test['Old']= df_test['Age'].apply(lambda x: 1 if x >= 55 else 0)

In [346]:
df.drop(columns='Name', inplace=True)
df_test.drop(columns='Name', inplace=True)

df.drop(columns='Age', inplace=True)
df_test.drop(columns='Age', inplace=True)

df.drop(columns='Ticket', inplace=True)
df_test.drop(columns='Ticket', inplace=True)

df.drop(columns='Title', inplace=True)
df_test.drop(columns='Title', inplace=True)

df.drop(columns='Fare', inplace=True)
df_test.drop(columns='Fare', inplace=True)

df.drop(columns='Fare Per P', inplace=True)
df_test.drop(columns='Fare Per P', inplace=True)

df.drop(columns='Embarked', inplace=True)
df_test.drop(columns='Embarked', inplace=True)

In [347]:
df.drop(columns='Family', inplace=True)
df_test.drop(columns='Family', inplace=True)

In [348]:
df['Class 1'] = df['Pclass'].apply(lambda x: 1 if x == 1 else 0)
df['Class 2'] = df['Pclass'].apply(lambda x: 1 if x == 2 else 0)
df['Class 3'] = df['Pclass'].apply(lambda x: 1 if x == 3 else 0)

df_test['Class 1'] = df_test['Pclass'].apply(lambda x: 1 if x == 1 else 0)
df_test['Class 2'] = df_test['Pclass'].apply(lambda x: 1 if x == 2 else 0)
df_test['Class 3'] = df_test['Pclass'].apply(lambda x: 1 if x == 3 else 0)

In [349]:
df['Male'] = df['Sex'].apply(lambda x: 1 if x == 'male' else 0)
df['Female'] = df['Sex'].apply(lambda x: 1 if x == 'female' else 0)

df_test['Male'] = df_test['Sex'].apply(lambda x: 1 if x == 'male' else 0)
df_test['Female'] = df_test['Sex'].apply(lambda x: 1 if x == 'female' else 0)

In [350]:
df.drop(columns='Sex', inplace=True)
df_test.drop(columns='Sex', inplace=True)

df.drop(columns='Pclass', inplace=True)
df_test.drop(columns='Pclass', inplace=True)

In [293]:
df.drop(columns='Cabin T', inplace=True)
df_test.drop(columns='Cabin T', inplace=True)

In [295]:
df.drop(columns='Embarked S', inplace=True)
df_test.drop(columns='Embarked S', inplace=True)

df.drop(columns='Embarked Q', inplace=True)
df_test.drop(columns='Embarked Q', inplace=True)

df.drop(columns='Embarked C', inplace=True)
df_test.drop(columns='Embarked C', inplace=True)

In [308]:
df.drop(columns='Cabin B', inplace=True)
df_test.drop(columns='Cabin B', inplace=True)
df.drop(columns='Cabin D', inplace=True)
df_test.drop(columns='Cabin D', inplace=True)
df.drop(columns='Cabin C', inplace=True)
df_test.drop(columns='Cabin C', inplace=True)
df.drop(columns='Cabin E', inplace=True)
df_test.drop(columns='Cabin E', inplace=True)
df.drop(columns='Cabin F', inplace=True)
df_test.drop(columns='Cabin F', inplace=True)
df.drop(columns='Cabin G', inplace=True)
df_test.drop(columns='Cabin G', inplace=True)

In [310]:
df.drop(columns='Cabin A', inplace=True)
df_test.drop(columns='Cabin A', inplace=True)

In [351]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
Survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
Family Solo,0,0,1,0,1,1,1,0,0,0,...,1,1,1,1,0,1,1,0,1,1
Family Small,1,1,0,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
Family Normal,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
Family Big,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
Embarked S,1,0,1,1,1,0,1,1,1,0,...,1,1,1,1,0,1,1,1,0,0
Embarked C,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
Embarked Q,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
Fare Cheap,1,0,1,0,1,1,0,1,1,1,...,1,1,1,1,1,1,0,1,0,1
Fare Mid,0,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
Fare Expensive,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Fare Ultra,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Passanger,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
Royale,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Crew,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
Child,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
Young,1,0,1,0,0,1,0,0,1,0,...,0,1,0,1,0,1,1,1,1,0
Mature,0,1,0,1,1,0,1,0,0,0,...,1,0,1,0,1,0,0,0,0,1
Old,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Class 1,0,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
Class 2,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
Class 3,1,0,1,0,1,1,0,1,1,0,...,1,1,0,1,1,0,0,1,0,1
Male,1,0,0,0,1,1,1,1,0,0,...,1,0,1,1,0,1,0,0,1,1
Female,0,1,1,1,0,0,0,0,1,1,...,0,1,0,0,1,0,1,1,0,0

In [352]:
X= df.drop('Survived', axis=1)
y= df.Survived.values

In [353]:
from sklearn.model_selection import KFold

kfold_splitter = KFold(n_splits=5, random_state = 42, shuffle=True)

In [356]:
modelRF= RandomForestClassifier(n_estimators=450, random_state=42,min_samples_split=6,min_samples_leaf=2,max_depth=None)
modelRF.fit(X_train, y_train)

v_acc = cross_val_score(modelRF,
                         X,
                         y,
                         cv=kfold_splitter, # 5-fold cross-validation
                         scoring="accuracy")

print(v_acc,np.mean(v_acc),modelRF.score(X_valid, y_valid))

[0.81564246 0.81460674 0.87640449 0.79775281 0.83146067] 0.8271734354403364 0.8156424581005587

In [354]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.2, random_state=42)

In [391]:
#finalModel=RandomForestClassifier(n_estimators=450, random_state=42,min_samples_split=6,min_samples_leaf=2,max_depth=None)
finalModel=svm.SVC()
#finalModel= KNeighborsClassifier(n_neighbors=5)
finalModel.fit(X,y)
pred = finalModel.predict(df_test)

In [392]:
write= pd.read_csv("Data/test.csv")
result=pd.DataFrame({"PassengerId":write['PassengerId'],"Survived":pred})

In [372]:
result

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         0
20           912         1
21           913         1
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
30           922         0
31           923         0
32           924         0
33           925         0
34           926         0
35           927         0
36           928         0
37           929         0
38           930         0
39           931         1
40           932         0
41           933         0
42           934         0
43           935         1
44           936         1
45           937         0
46           938         0
47           939         0
48           940         1
49           941         0
50           942         0
51           943         0
52           944         1
53           945         1
54           946         0
55           947         0
56           948         0
57           949         0
58           950         0
59           951         1
60           952         0
61           953         0
62           954         0
63           955         1
64           956         1
65           957         1
66           958         1
67           959         0
68           960         0
69           961         1
70           962         1
71           963         0
72           964         0
73           965         0
74           966         1
75           967         0
76           968         0
77           969         1
78           970         0
79           971         1
80           972         1
81           973         0
82           974         0
83           975         0
84           976         0
85           977         0
86           978         1
87           979         0
88           980         1
89           981         1
90           982         1
91           983         0
92           984         1
93           985         0
94           986         1
95           987         0
96           988         1
97           989         0
98           990         0
99           991         0
100          992         1
101          993         0
102          994         0
103          995         0
104          996         0
105          997         0
106          998         0
107          999         0
108         1000         0
109         1001         0
110         1002         0
111         1003         1
112         1004         1
113         1005         1
114         1006         1
115         1007         0
116         1008         0
117         1009         1
118         1010         0
119         1011         1
120         1012         1
121         1013         0
122         1014         1
123         1015         0
124         1016         0
125         1017         1
126         1018         0
127         1019         1
128         1020         0
129         1021         0
130         1022         0
131         1023         1
132         1024         0
133         1025         0
134         1026         0
135         1027         0
136         1028         0
137         1029         0
138         1030         0
139         1031         0
140         1032         0
141         1033         1
142         1034         0
143         1035         0
144         1036         0
145         1037         0
146         1038         0
147         1039         0
148         1040         0
149         1041         0
150         1042         1
151         1043         0
152         1044         0
153         1045         0
154         1046         0
155         1047         0
156         1048         1
157         1049         0
158         1050         0
159         1051         1
160         1052         1
161         1053         1
162         1054         1
163         1055         0
164         1056         0
165         1057         1
166         1058         0
167         1059         0
168         1060         1
169         1061         0
170         1062         0
171         1063         0
172         1064         0
173         1065         0
174         1066         0
175         1067         1
176         1068         1
177         1069         0
178         1070         1
179         1071         1
180         1072         0
181         1073         0
182         1074         1
183         1075         0
184         1076         1
185         1077         0
186         1078         1
187         1079         0
188         1080         0
189         1081         0
190         1082         0
191         1083         0
192         1084         1
193         1085         0
194         1086         1
195         1087         0
196         1088         1
197         1089         0
198         1090         0
199         1091         0
200         1092         1
201         1093         1
202         1094         0
203         1095         1
204         1096         0
205         1097         0
206         1098         1
207         1099         0
208         1100         1
209         1101         0
210         1102         0
211         1103         0
212         1104         0
213         1105         1
214         1106         0
215         1107         0
216         1108         1
217         1109         0
218         1110         1
219         1111         0
220         1112         1
221         1113         0
222         1114         1
223         1115         0
224         1116         1
225         1117         0
226         1118         0
227         1119         1
228         1120         0
229         1121         0
230         1122         0
231         1123         1
232         1124         0
233         1125         0
234         1126         0
235         1127         0
236         1128         1
237         1129         0
238         1130         1
239         1131         1
240         1132         1
241         1133         1
242         1134         0
243         1135         0
244         1136         0
245         1137         0
246         1138         1
247         1139         0
248         1140         1
249         1141         0
250         1142         0
251         1143         0
252         1144         1
253         1145         0
254         1146         0
255         1147         0
256         1148         0
257         1149         0
258         1150         1
259         1151         0
260         1152         0
261         1153         0
262         1154         1
263         1155         1
264         1156         0
265         1157         0
266         1158         0
267         1159         0
268         1160         0
269         1161         0
270         1162         0
271         1163         0
272         1164         1
273         1165         1
274         1166         0
275         1167         1
276         1168         0
277         1169         0
278         1170         0
279         1171         0
280         1172         0
281         1173         1
282         1174         1
283         1175         1
284         1176         1
285         1177         0
286         1178         0
287         1179         0
288         1180         0
289         1181         0
290         1182         0
291         1183         1
292         1184         0
293         1185         0
294         1186         0
295         1187         0
296         1188         1
297         1189         0
298         1190         0
299         1191         0
300         1192         0
301         1193         0
302         1194         0
303         1195         0
304         1196         1
305         1197         1
306         1198         1
307         1199         1
308         1200         0
309         1201         0
310         1202         0
311         1203         0
312         1204         0
313         1205         1
314         1206         1
315         1207         1
316         1208         0
317         1209         0
318         1210         0
319         1211         0
320         1212         0
321         1213         0
322         1214         0
323         1215         0
324         1216         1
325         1217         0
326         1218         0
327         1219         0
328         1220         0
329         1221         0
330         1222         1
331         1223         0
332         1224         0
333         1225         0
334         1226         0
335         1227         0
336         1228         0
337         1229         0
338         1230         0
339         1231         0
340         1232         0
341         1233         0
342         1234         0
343         1235         1
344         1236         0
345         1237         0
346         1238         0
347         1239         0
348         1240         0
349         1241         1
350         1242         1
351         1243         0
352         1244         0
353         1245         0
354         1246         0
355         1247         0
356         1248         1
357         1249         0
358         1250         0
359         1251         0
360         1252         0
361         1253         1
362         1254         1
363         1255         0
364         1256         1
365         1257         0
366         1258         0
367         1259         0
368         1260         1
369         1261         0
370         1262         0
371         1263         1
372         1264         0
373         1265         0
374         1266         1
375         1267         1
376         1268         1
377         1269         0
378         1270         0
379         1271         0
380         1272         0
381         1273         0
382         1274         0
383         1275         1
384         1276         0
385         1277         1
386         1278         0
387         1279         0
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

In [393]:
result.to_csv("res1.csv", index=False)

In [387]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train)
clf.score(X_valid, y_valid)

0.8212290502793296

In [396]:
from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier(n_neighbors=13)
clf.fit(X_train, y_train)
clf.score(X_valid, y_valid)

0.8324022346368715