In [305]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import classification_report

import time

In [306]:
np.random.seed(42)
pd.set_option('display.max_rows', None)

In [307]:
df = pd.read_csv("Data/train.csv")
df_test = pd.read_csv("Data/test.csv")

In [308]:
df['Embarked'].fillna('S', inplace=True)
df_test['Fare'].fillna(26.55, inplace=True)

for i,r in df.iterrows():
    if pd.isnull(r['Age']):
        df.loc[df.index[i],'Age'] = df[df['Pclass'] == r['Pclass']]['Age'].median()

for i,r in df_test.iterrows():
    if pd.isnull(r['Age']):
        df_test.loc[df_test.index[i],'Age'] = df_test[df_test['Pclass'] == r['Pclass']]['Age'].median()

df['Cabin Letter']=df['Cabin'].apply(lambda x: x[0] if not pd.isna(x) else 'N')
df_test['Cabin Letter']=df_test['Cabin'].apply(lambda x: x[0] if not pd.isna(x) else 'N')

df.drop(columns='PassengerId', inplace=True)
df_test.drop(columns='PassengerId', inplace=True)

df.drop(columns='Cabin Letter', inplace=True)
df_test.drop(columns='Cabin Letter', inplace=True)

df.drop(columns='Cabin', inplace=True)
df_test.drop(columns='Cabin', inplace=True)

In [309]:
print(df.isnull().sum(),df_test.isnull().sum())

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64 Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64

In [310]:
df['Family']=df['Parch']+df['SibSp']+1
df_test['Family']=df_test['Parch']+df_test['SibSp']+1

df.drop(columns='Parch', inplace=True)
df_test.drop(columns='Parch', inplace=True)

df.drop(columns='SibSp', inplace=True)
df_test.drop(columns='SibSp', inplace=True)

In [311]:
df['Fare Per P'] = df['Fare']/df['Family']
df_test['Fare Per P'] = df_test['Fare']/df_test['Family']

df['Fare Value']= df['Fare Per P'].apply(lambda x: 'Cheap' if x < 20  else ('Mid' if x >=20 and x < 70 else ('Expensive' if x >= 70 and x <200 else 'Deluxe')) )
df_test['Fare Value']= df_test['Fare Per P'].apply(lambda x: 'Cheap' if x < 20  else ('Mid' if x >=20 and x < 70 else ('Expensive' if x >= 70 and x <200 else 'Deluxe')) )

df.drop(columns='Fare Per P', inplace=True)
df_test.drop(columns='Fare Per P', inplace=True)

df.drop(columns='Family', inplace=True)
df_test.drop(columns='Family', inplace=True)

df.drop(columns='Fare', inplace=True)
df_test.drop(columns='Fare', inplace=True)

In [312]:
df['Title'] = df['Name'].apply(lambda x: x.split('.')[0].split()[-1])
df_test['Title'] = df_test['Name'].apply(lambda x: x.split('.')[0].split()[-1])

Passangers =  ['Mrs', 'Mr', 'Miss', 'Ms', 'Mme', 'Mlle', 'Master']
Royals = ['Lady', 'Sir', 'Don', 'Jonkheer', 'Countess', 'Dona']
Crews = ['Major', 'Col', 'Rev', 'Capt', 'Dr']

df['Status']= df['Title'].apply(lambda x: 'Passanger' if x in Passangers  else ('Royale' if x in Royals else ('Crew' if x in Crews else 'Missing')))
df_test['Status']= df_test['Title'].apply(lambda x: 'Passanger' if x in Passangers  else ('Royale' if x in Royals else ('Crew' if x in Crews else 'Missing')))

df.drop(columns='Title', inplace=True)
df_test.drop(columns='Title', inplace=True)

df.drop(columns='Name', inplace=True)
df_test.drop(columns='Name', inplace=True)

In [256]:
df['Age Int']=df['Age'].apply(lambda x: 'Child' if x < 18 else ('Young' if x < 28 else ('Mature' if x < 55 else 'Old')))
df_test['Age Int']=df_test['Age'].apply(lambda x: 'Child' if x < 18 else ('Young' if x < 28 else ('Mature' if x < 55 else 'Old')))

df.drop(columns='Age', inplace=True)
df_test.drop(columns='Age', inplace=True)

In [313]:
dizi = np.arange(0, 101, 10)


df['age_category'] = pd.cut(df['Age'], bins=dizi)
df_test['age_category'] = pd.cut(df_test['Age'], bins=dizi)

df.drop(columns='Age', inplace=True)
df_test.drop(columns='Age', inplace=True)

In [314]:
df.drop(columns='Ticket', inplace=True)
df_test.drop(columns='Ticket', inplace=True)

In [258]:
df.drop(columns='Embarked', inplace=True)
df_test.drop(columns='Embarked', inplace=True)

df.drop(columns='Fare Value', inplace=True)
df_test.drop(columns='Fare Value', inplace=True)

df.drop(columns='Status', inplace=True)
df_test.drop(columns='Status', inplace=True)

df.drop(columns='Age Int', inplace=True)
df_test.drop(columns='Age Int', inplace=True)

In [315]:
df

     Survived  Pclass     Sex Embarked Fare Value     Status age_category
0           0       3    male        S      Cheap  Passanger     (20, 30]
1           1       1  female        C        Mid  Passanger     (30, 40]
2           1       3  female        S      Cheap  Passanger     (20, 30]
3           1       1  female        S        Mid  Passanger     (30, 40]
4           0       3    male        S      Cheap  Passanger     (30, 40]
5           0       3    male        Q      Cheap  Passanger     (20, 30]
6           0       1    male        S        Mid  Passanger     (50, 60]
7           0       3    male        S      Cheap  Passanger      (0, 10]
8           1       3  female        S      Cheap  Passanger     (20, 30]
9           1       2  female        C      Cheap  Passanger     (10, 20]
10          1       3  female        S      Cheap  Passanger      (0, 10]
11          1       1  female        S        Mid  Passanger     (50, 60]
12          0       3    male        S      Cheap  Passanger     (10, 20]
13          0       3    male        S      Cheap  Passanger     (30, 40]
14          0       3  female        S      Cheap  Passanger     (10, 20]
15          1       2  female        S      Cheap  Passanger     (50, 60]
16          0       3    male        Q      Cheap  Passanger      (0, 10]
17          1       2    male        S      Cheap  Passanger     (20, 30]
18          0       3  female        S      Cheap  Passanger     (30, 40]
19          1       3  female        C      Cheap  Passanger     (20, 30]
20          0       2    male        S        Mid  Passanger     (30, 40]
21          1       2    male        S      Cheap  Passanger     (30, 40]
22          1       3  female        Q      Cheap  Passanger     (10, 20]
23          1       1    male        S        Mid  Passanger     (20, 30]
24          0       3  female        S      Cheap  Passanger      (0, 10]
25          1       3  female        S      Cheap  Passanger     (30, 40]
26          0       3    male        C      Cheap  Passanger     (20, 30]
27          0       1    male        S        Mid  Passanger     (10, 20]
28          1       3  female        Q      Cheap  Passanger     (20, 30]
29          0       3    male        S      Cheap  Passanger     (20, 30]
30          0       1    male        C        Mid     Royale     (30, 40]
31          1       1  female        C  Expensive  Passanger     (30, 40]
32          1       3  female        Q      Cheap  Passanger     (20, 30]
33          0       2    male        S      Cheap  Passanger     (60, 70]
34          0       1    male        C        Mid  Passanger     (20, 30]
35          0       1    male        S        Mid  Passanger     (40, 50]
36          1       3    male        C      Cheap  Passanger     (20, 30]
37          0       3    male        S      Cheap  Passanger     (20, 30]
38          0       3  female        S      Cheap  Passanger     (10, 20]
39          1       3  female        C      Cheap  Passanger     (10, 20]
40          0       3  female        S      Cheap  Passanger     (30, 40]
41          0       2  female        S      Cheap  Passanger     (20, 30]
42          0       3    male        C      Cheap  Passanger     (20, 30]
43          1       2  female        C      Cheap  Passanger      (0, 10]
44          1       3  female        Q      Cheap  Passanger     (10, 20]
45          0       3    male        S      Cheap  Passanger     (20, 30]
46          0       3    male        Q      Cheap  Passanger     (20, 30]
47          1       3  female        Q      Cheap  Passanger     (20, 30]
48          0       3    male        C      Cheap  Passanger     (20, 30]
49          0       3  female        S      Cheap  Passanger     (10, 20]
50          0       3    male        S      Cheap  Passanger      (0, 10]
51          0       3    male        S      Cheap  Passanger     (20, 30]
52          1       1  female        C        Mid  Passanger     (40, 50]
53          1       2  female        S      Cheap  Passanger     (20, 30]
54          0       1    male        C        Mid  Passanger     (60, 70]
55          1       1    male        S        Mid  Passanger     (30, 40]
56          1       2  female        S      Cheap  Passanger     (20, 30]
57          0       3    male        C      Cheap  Passanger     (20, 30]
58          1       2  female        S      Cheap  Passanger      (0, 10]
59          0       3    male        S      Cheap  Passanger     (10, 20]
60          0       3    male        C      Cheap  Passanger     (20, 30]
61          1       1  female        S  Expensive  Passanger     (30, 40]
62          0       1    male        S        Mid  Passanger     (40, 50]
63          0       3    male        S      Cheap  Passanger      (0, 10]
64          0       1    male        C        Mid  Passanger     (30, 40]
65          1       3    male        C      Cheap  Passanger     (20, 30]
66          1       2  female        S      Cheap  Passanger     (20, 30]
67          0       3    male        S      Cheap  Passanger     (10, 20]
68          1       3  female        S      Cheap  Passanger     (10, 20]
69          0       3    male        S      Cheap  Passanger     (20, 30]
70          0       2    male        S      Cheap  Passanger     (30, 40]
71          0       3  female        S      Cheap  Passanger     (10, 20]
72          0       2    male        S  Expensive  Passanger     (20, 30]
73          0       3    male        C      Cheap  Passanger     (20, 30]
74          1       3    male        S        Mid  Passanger     (30, 40]
75          0       3    male        S      Cheap  Passanger     (20, 30]
76          0       3    male        S      Cheap  Passanger     (20, 30]
77          0       3    male        S      Cheap  Passanger     (20, 30]
78          1       2    male        S      Cheap  Passanger      (0, 10]
79          1       3  female        S      Cheap  Passanger     (20, 30]
80          0       3    male        S      Cheap  Passanger     (20, 30]
81          1       3    male        S      Cheap  Passanger     (20, 30]
82          1       3  female        Q      Cheap  Passanger     (20, 30]
83          0       1    male        S        Mid  Passanger     (20, 30]
84          1       2  female        S      Cheap  Passanger     (10, 20]
85          1       3  female        S      Cheap  Passanger     (30, 40]
86          0       3    male        S      Cheap  Passanger     (10, 20]
87          0       3    male        S      Cheap  Passanger     (20, 30]
88          1       1  female        S        Mid  Passanger     (20, 30]
89          0       3    male        S      Cheap  Passanger     (20, 30]
90          0       3    male        S      Cheap  Passanger     (20, 30]
91          0       3    male        S      Cheap  Passanger     (10, 20]
92          0       1    male        S        Mid  Passanger     (40, 50]
93          0       3    male        S      Cheap  Passanger     (20, 30]
94          0       3    male        S      Cheap  Passanger     (50, 60]
95          0       3    male        S      Cheap  Passanger     (20, 30]
96          0       1    male        C        Mid  Passanger     (70, 80]
97          1       1    male        C        Mid  Passanger     (20, 30]
98          1       2  female        S      Cheap  Passanger     (30, 40]
99          0       2    male        S      Cheap  Passanger     (30, 40]
100         0       3  female        S      Cheap  Passanger     (20, 30]
101         0       3    male        S      Cheap  Passanger     (20, 30]
102         0       1    male        S        Mid  Passanger     (20, 30]
103         0       3    male        S      Cheap  Passanger     (30, 40]
104         0       3    male        S      Cheap  Passanger     (30, 40]
105         0       3    male        S      Cheap  Passanger     (20, 30]
106         1       3  female        S      Cheap  Passanger     (20, 30]
107         1       3    male        S      Cheap  Passanger     (20, 30]
108         0       3    male        S      Cheap  Passanger     (30, 40]
109         1       3  female        Q      Cheap  Passanger     (20, 30]
110         0       1    male        S        Mid  Passanger     (40, 50]
111         0       3  female        C      Cheap  Passanger     (10, 20]
112         0       3    male        S      Cheap  Passanger     (20, 30]
113         0       3  female        S      Cheap  Passanger     (10, 20]
114         0       3  female        C      Cheap  Passanger     (10, 20]
115         0       3    male        S      Cheap  Passanger     (20, 30]
116         0       3    male        Q      Cheap  Passanger     (70, 80]
117         0       2    male        S      Cheap  Passanger     (20, 30]
118         0       1    male        C  Expensive  Passanger     (20, 30]
119         0       3  female        S      Cheap  Passanger      (0, 10]
120         0       2    male        S        Mid  Passanger     (20, 30]
121         0       3    male        S      Cheap  Passanger     (20, 30]
122         0       2    male        C      Cheap  Passanger     (30, 40]
123         1       2  female        S      Cheap  Passanger     (30, 40]
124         0       1    male        S        Mid  Passanger     (50, 60]
125         1       3    male        C      Cheap  Passanger     (10, 20]
126         0       3    male        Q      Cheap  Passanger     (20, 30]
127         1       3    male        S      Cheap  Passanger     (20, 30]
128         1       3  female        C      Cheap  Passanger     (20, 30]
129         0       3    male        S      Cheap  Passanger     (40, 50]
130         0       3    male        C      Cheap  Passanger     (30, 40]
131         0       3    male        S      Cheap  Passanger     (10, 20]
132         0       3  female        S      Cheap  Passanger     (40, 50]
133         1       2  female        S      Cheap  Passanger     (20, 30]
134         0       2    male        S      Cheap  Passanger     (20, 30]
135         0       2    male        C      Cheap  Passanger     (20, 30]
136         1       1  female        S      Cheap  Passanger     (10, 20]
137         0       1    male        S        Mid  Passanger     (30, 40]
138         0       3    male        S      Cheap  Passanger     (10, 20]
139         0       1    male        C  Expensive  Passanger     (20, 30]
140         0       3  female        C      Cheap  Passanger     (20, 30]
141         1       3  female        S      Cheap  Passanger     (20, 30]
142         1       3  female        S      Cheap  Passanger     (20, 30]
143         0       3    male        Q      Cheap  Passanger     (10, 20]
144         0       2    male        S      Cheap  Passanger     (10, 20]
145         0       2    male        S      Cheap  Passanger     (10, 20]
146         1       3    male        S      Cheap  Passanger     (20, 30]
147         0       3  female        S      Cheap  Passanger      (0, 10]
148         0       2    male        S      Cheap  Passanger     (30, 40]
149         0       2    male        S      Cheap       Crew     (40, 50]
150         0       2    male        S      Cheap       Crew     (50, 60]
151         1       1  female        S        Mid  Passanger     (20, 30]
152         0       3    male        S      Cheap  Passanger     (50, 60]
153         0       3    male        S      Cheap  Passanger     (40, 50]
154         0       3    male        S      Cheap  Passanger     (20, 30]
155         0       1    male        C        Mid  Passanger     (50, 60]
156         1       3  female        Q      Cheap  Passanger     (10, 20]
157         0       3    male        S      Cheap  Passanger     (20, 30]
158         0       3    male        S      Cheap  Passanger     (20, 30]
159         0       3    male        S      Cheap  Passanger     (20, 30]
160         0       3    male        S      Cheap  Passanger     (40, 50]
161         1       2  female        S      Cheap  Passanger     (30, 40]
162         0       3    male        S      Cheap  Passanger     (20, 30]
163         0       3    male        S      Cheap  Passanger     (10, 20]
164         0       3    male        S      Cheap  Passanger      (0, 10]
165         1       3    male        S      Cheap  Passanger      (0, 10]
166         1       1  female        S        Mid  Passanger     (30, 40]
167         0       3  female        S      Cheap  Passanger     (40, 50]
168         0       1    male        S        Mid  Passanger     (30, 40]
169         0       3    male        S        Mid  Passanger     (20, 30]
170         0       1    male        S        Mid  Passanger     (60, 70]
171         0       3    male        Q      Cheap  Passanger      (0, 10]
172         1       3  female        S      Cheap  Passanger      (0, 10]
173         0       3    male        S      Cheap  Passanger     (20, 30]
174         0       1    male        C        Mid  Passanger     (50, 60]
175         0       3    male        S      Cheap  Passanger     (10, 20]
176         0       3    male        S      Cheap  Passanger     (20, 30]
177         0       1  female        C        Mid  Passanger     (40, 50]
178         0       2    male        S      Cheap  Passanger     (20, 30]
179         0       3    male        S      Cheap  Passanger     (30, 40]
180         0       3  female        S      Cheap  Passanger     (20, 30]
181         0       2    male        C      Cheap  Passanger     (20, 30]
182         0       3    male        S      Cheap  Passanger      (0, 10]
183         1       2    male        S      Cheap  Passanger      (0, 10]
184         1       3  female        S      Cheap  Passanger      (0, 10]
185         0       1    male        S        Mid  Passanger     (30, 40]
186         1       3  female        Q      Cheap  Passanger     (20, 30]
187         1       1    male        S        Mid  Passanger     (40, 50]
188         0       3    male        Q      Cheap  Passanger     (30, 40]
189         0       3    male        S      Cheap  Passanger     (30, 40]
190         1       2  female        S      Cheap  Passanger     (30, 40]
191         0       2    male        S      Cheap  Passanger     (10, 20]
192         1       3  female        S      Cheap  Passanger     (10, 20]
193         1       2    male        S      Cheap  Passanger      (0, 10]
194         1       1  female        C        Mid  Passanger     (40, 50]
195         1       1  female        C  Expensive  Passanger     (50, 60]
196         0       3    male        Q      Cheap  Passanger     (20, 30]
197         0       3    male        S      Cheap  Passanger     (40, 50]
198         1       3  female        Q      Cheap  Passanger     (20, 30]
199         0       2  female        S      Cheap  Passanger     (20, 30]
200         0       3    male        S      Cheap  Passanger     (20, 30]
201         0       3    male        S      Cheap  Passanger     (20, 30]
202         0       3    male        S      Cheap  Passanger     (30, 40]
203         0       3    male        C      Cheap  Passanger     (40, 50]
204         1       3    male        S      Cheap  Passanger     (10, 20]
205         0       3  female        S      Cheap  Passanger      (0, 10]
206         0       3    male        S      Cheap  Passanger     (30, 40]
207         1       3    male        C      Cheap  Passanger     (20, 30]
208         1       3  female        Q      Cheap  Passanger     (10, 20]
209         1       1    male        C        Mid  Passanger     (30, 40]
210         0       3    male        S      Cheap  Passanger     (20, 30]
211         1       2  female        S        Mid  Passanger     (30, 40]
212         0       3    male        S      Cheap  Passanger     (20, 30]
213         0       2    male        S      Cheap  Passanger     (20, 30]
214         0       3    male        Q      Cheap  Passanger     (20, 30]
215         1       1  female        C        Mid  Passanger     (30, 40]
216         1       3  female        S      Cheap  Passanger     (20, 30]
217         0       2    male        S      Cheap  Passanger     (40, 50]
218         1       1  female        C  Expensive  Passanger     (30, 40]
219         0       2    male        S      Cheap  Passanger     (20, 30]
220         1       3    male        S      Cheap  Passanger     (10, 20]
221         0       2    male        S      Cheap  Passanger     (20, 30]
222         0       3    male        S      Cheap  Passanger     (50, 60]
223         0       3    male        S      Cheap  Passanger     (20, 30]
224         1       1    male        S        Mid  Passanger     (30, 40]
225         0       3    male        S      Cheap  Passanger     (20, 30]
226         1       2    male        S      Cheap  Passanger     (10, 20]
227         0       3    male        S      Cheap  Passanger     (20, 30]
228         0       2    male        S      Cheap  Passanger     (10, 20]
229         0       3  female        S      Cheap  Passanger     (20, 30]
230         1       1  female        S        Mid  Passanger     (30, 40]
231         0       3    male        S      Cheap  Passanger     (20, 30]
232         0       2    male        S      Cheap  Passanger     (50, 60]
233         1       3  female        S      Cheap  Passanger      (0, 10]
234         0       2    male        S      Cheap  Passanger     (20, 30]
235         0       3  female        S      Cheap  Passanger     (20, 30]
236         0       2    male        S      Cheap  Passanger     (40, 50]
237         1       2  female        S      Cheap  Passanger      (0, 10]
238         0       2    male        S      Cheap  Passanger     (10, 20]
239         0       2    male        S      Cheap  Passanger     (30, 40]
240         0       3  female        C      Cheap  Passanger     (20, 30]
241         1       3  female        Q      Cheap  Passanger     (20, 30]
242         0       2    male        S      Cheap  Passanger     (20, 30]
243         0       3    male        S      Cheap  Passanger     (20, 30]
244         0       3    male        C      Cheap  Passanger     (20, 30]
245         0       1    male        Q        Mid       Crew     (40, 50]
246         0       3  female        S      Cheap  Passanger     (20, 30]
247         1       2  female        S      Cheap  Passanger     (20, 30]
248         1       1    male        S      Cheap  Passanger     (30, 40]
249         0       2    male        S      Cheap       Crew     (50, 60]
250         0       3    male        S      Cheap  Passanger     (20, 30]
251         0       3  female        S      Cheap  Passanger     (20, 30]
252         0       1    male        S        Mid  Passanger     (60, 70]
253         0       3    male        S      Cheap  Passanger     (20, 30]
254         0       3  female        S      Cheap  Passanger     (40, 50]
255         1       3  female        C      Cheap  Passanger     (20, 30]
256         1       1  female        C  Expensive  Passanger     (30, 40]
257         1       1  female        S  Expensive  Passanger     (20, 30]
258         1       1  female        C     Deluxe  Passanger     (30, 40]
259         1       2  female        S      Cheap  Passanger     (40, 50]
260         0       3    male        Q      Cheap  Passanger     (20, 30]
261         1       3    male        S      Cheap  Passanger      (0, 10]
262         0       1    male        S        Mid  Passanger     (50, 60]
263         0       1    male        S      Cheap  Passanger     (30, 40]
264         0       3  female        Q      Cheap  Passanger     (20, 30]
265         0       2    male        S      Cheap  Passanger     (30, 40]
266         0       3    male        S      Cheap  Passanger     (10, 20]
267         1       3    male        S      Cheap  Passanger     (20, 30]
268         1       1  female        S  Expensive  Passanger     (50, 60]

In [316]:
one_hot_encoded_df = pd.get_dummies(df, columns = ['Pclass', 'Sex','Embarked','Fare Value', 'Status', 'age_category'])
one_hot_encoded_df_test = pd.get_dummies(df_test, columns = ['Pclass', 'Sex','Embarked','Fare Value', 'Status', 'age_category'])

In [262]:
one_hot_encoded_df = pd.get_dummies(df, columns = ['Pclass', 'Sex'])
one_hot_encoded_df_test = pd.get_dummies(df_test, columns = ['Pclass', 'Sex'])

In [317]:
df= one_hot_encoded_df
df_test = one_hot_encoded_df_test

df.drop(columns='Cabin Letter_N', inplace=True)
df_test.drop(columns='Cabin Letter_N', inplace=True)

df.drop(columns='Cabin Letter_T', inplace=True)
df_test.drop(columns='Cabin Letter_T', inplace=True)

KeyError: "['Cabin Letter_N'] not found in axis"

In [318]:
X= df.drop('Survived', axis=1)
y= df.Survived.values

In [319]:
from sklearn.model_selection import KFold

kfold_splitter = KFold(n_splits=5, random_state = 42, shuffle=True)

In [320]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.2, random_state=42)

In [321]:
modelRF= RandomForestClassifier(n_estimators=550, random_state=42,min_samples_split=6,min_samples_leaf=4,max_depth=None)
modelRF.fit(X_train, y_train)

v_acc = cross_val_score(modelRF,
                         X,
                         y,
                         cv=kfold_splitter, # 5-fold cross-validation
                         scoring="accuracy")

print(v_acc,np.mean(v_acc),modelRF.score(X_valid, y_valid))

[0.79888268 0.79775281 0.85393258 0.79213483 0.84269663] 0.817079907099366 0.7988826815642458

In [322]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train)
clf.score(X_valid, y_valid)

0.7988826815642458

In [336]:
from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier(n_neighbors=26)
clf.fit(X_train, y_train)
clf.score(X_valid, y_valid)

0.7932960893854749

In [337]:
#finalModel=RandomForestClassifier(n_estimators=350, random_state=42,min_samples_split=3,min_samples_leaf=4,max_depth=None)
#finalModel=svm.SVC()
finalModel= KNeighborsClassifier(n_neighbors=26)
finalModel.fit(X,y)
pred = finalModel.predict(df_test)

In [338]:
write= pd.read_csv("Data/test.csv")
result=pd.DataFrame({"PassengerId":write['PassengerId'],"Survived":pred})

In [339]:
result.to_csv("result.csv", index=False)

In [290]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
Survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
Pclass_1,False,True,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,True,False
Pclass_2,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,False,True,False,False,False,False
Pclass_3,True,False,True,False,True,True,False,True,True,False,...,True,True,False,True,True,False,False,True,False,True
Sex_female,False,True,True,True,False,False,False,False,True,True,...,False,True,False,False,True,False,True,True,False,False
Sex_male,True,False,False,False,True,True,True,True,False,False,...,True,False,True,True,False,True,False,False,True,True
Embarked_C,False,True,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
Embarked_Q,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
Embarked_S,True,False,True,True,True,False,True,True,True,False,...,True,True,True,True,False,True,True,True,False,False
Fare Value_Cheap,True,False,True,False,True,True,False,True,True,True,...,True,True,True,True,True,True,False,True,False,True
Fare Value_Deluxe,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Fare Value_Expensive,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Fare Value_Mid,False,True,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,True,False
Status_Crew,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
Status_Passanger,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
Status_Royale,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(0, 5]",False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(5, 10]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(10, 15]",False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
"age_category_(15, 20]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
"age_category_(20, 25]",True,False,False,False,False,True,False,False,False,False,...,False,True,False,True,False,False,False,True,False,False
"age_category_(25, 30]",False,False,True,False,False,False,False,False,True,False,...,False,False,True,False,False,True,False,False,True,False
"age_category_(30, 35]",False,False,False,True,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
"age_category_(35, 40]",False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
"age_category_(40, 45]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(45, 50]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(50, 55]",False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(55, 60]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(60, 65]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(65, 70]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(70, 75]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(75, 80]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(80, 85]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(85, 90]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(90, 95]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
"age_category_(95, 100]",False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False