In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
np.random.seed(42)

In [3]:
def init_params(n_x, n_h, n_y):
    W1 = np.random.randn(n_h,n_x)*0.01
    b1 = np.zeros((n_h,1))
    W2 = np.random.randn(n_y,n_h)*0.01
    b2 = np.zeros((n_y,1))

    parameters = {"W1": W1, "b1": b2, "W2": W2, "b2": b2}

    return parameters

In [4]:
def forward(X, parameters):
    W1 = parameters['W1']
    W2 = parameters['W2']
    b1 = parameters['b1']
    b2 = parameters['b2']

    Z1 = np.dot(W1,X) + b1
    A1 = np.tanh(Z1)
    Z2 = np.dot(W2, A1) + b2
    A2 = 1/(1 + np.exp(-Z2))

    #print(A2.shape)
    cache = {"Z1": Z1, "A1": A1, "Z2": Z2, "A2":A2}
    return A2, cache

In [5]:
def cost(A2, Y):
    m = Y.shape[1]

    cost = np.dot((Y*np.log(A2) + (1-Y)*np.log(1-A2)), np.ones((m,1)))*(-1/m)
    cost = float(np.squeeze(cost))
    return cost

In [6]:
def backward(parameters, cache, X, Y):
    m = X.shape[1]
    W1 = parameters['W1']
    W2 = parameters['W2']
    A1 = cache['A1']
    A2 = cache['A2']
    
    dZ2 = A2 - Y
    dW2 = np.dot(dZ2, A1.T)/m
    db2 = np.sum(dZ2, axis = 1, keepdims = True)/m
    dZ1 = np.dot(W2.T, dZ2)*(1 - np.power(A1,2))
    dW1 = np.dot(dZ1, X.T)/m
    db1 = np.sum(dZ1, axis = 1, keepdims = True)/m

    grads = {"dW1": dW1, "db1": db1, "dW2": dW2, "db2": db2}
    return grads

In [7]:
def update(parameters, grads, learning_rate = 0.001):
    W1 = copy.deepcopy(parameters['W1'])
    b1 = copy.deepcopy(parameters['b1'])
    W2 = copy.deepcopy(parameters['W2'])
    b2 = copy.deepcopy(parameters['b2'])

    dW1 = copy.deepcopy(grads['dW1'])
    db1 = copy.deepcopy(grads['db1'])
    dW2 = copy.deepcopy(grads['dW2'])
    db2 = copy.deepcopy(grads['db2'])

    W1 = W1 - learning_rate*dW1
    b1 = b1 - learning_rate*db1
    W2 = W2 - learning_rate*dW2
    b2 = b2 - learning_rate*db2

    parameters = {"W1": W1, "b1": b1, "W2": W2, "b2": b2}
    return parameters

In [52]:
def nn_model(X,Y,n_h, iter_num=10000,lr = 0.001 , pr_cost = False):
    np.random.seed(42)
    n_x = X.shape[0]
    n_y = Y.shape[0]
    print(n_x,n_y)
    parameters = init_params(n_x, n_h, n_y)
    print(parameters['b1'].shape)
    for i in range(0,iter_num):
        A2, cache = forward(X, parameters)
        cost = cost(A2,Y)
        grads = backward(parameters, cache, X, Y)
        parameters = update(parameters, grads, learning_rate = lr)
        if pr_cost and i % 1000 == 0:
            print ("Cost after iteration %i: %f" %(i, cost))

    return parameters

In [41]:
def prepareData(df,df_test,is_valid = True):
    train = df.copy()
    test = df_test.copy()
    for label,content in train.items():
        max=train[label].max()
        train[label]=train[label].apply(lambda x: x/max)

    for label,content in test.items():
        max=test[label].max()
        test[label]=test[label].apply(lambda x: x/max)
    
    X_train= train.drop('Survived', axis=1)
    y_train= train.Survived.values

    if is_valid:
        X_test = test.drop('Survived', axis=1)
        y_test = test.Survived.values
        return X_train.T, y_train.T, X_test.T, y_test.T
    else:
        
        return X_train.T, y_train.T, test, np.array([0])

In [10]:
df = pd.read_csv('Data/train.csv')
df_test = pd.read_csv('Data/test.csv')

In [11]:
df.drop(columns='PassengerId', inplace=True)
df_test.drop(columns='PassengerId', inplace=True)

df.drop(columns='Cabin', inplace=True)
df_test.drop(columns='Cabin', inplace=True)

In [12]:
Passangers =  ['Mrs', 'Mr', 'Miss', 'Ms', 'Mme', 'Mlle', 'Master']
Royals = ['Lady', 'Sir', 'Don', 'Jonkheer', 'Countess', 'Dona']
Crews = ['Major', 'Col', 'Rev', 'Capt', 'Dr']

df['Title'] = df['Name'].apply(lambda x: x.split('.')[0].split()[-1])
df_test['Title'] = df_test['Name'].apply(lambda x: x.split('.')[0].split()[-1])

df['Status']= df['Title'].apply(lambda x: 'Passanger' if x in Passangers  else ('Royale' if x in Royals else ('Crew' if x in Crews else 'Missing')))
df_test['Status']= df_test['Title'].apply(lambda x: 'Passanger' if x in Passangers  else ('Royale' if x in Royals else ('Crew' if x in Crews else 'Missing')))


df.drop(columns='Name', inplace=True)
df_test.drop(columns='Name', inplace=True)

df.drop(columns='Title', inplace=True)
df_test.drop(columns='Title', inplace=True)

In [13]:
df['Family']=df['Parch']+df['SibSp']+1
df_test['Family']=df_test['Parch']+df_test['SibSp']+1

In [14]:
df['Embarked'].fillna('S', inplace=True)
df_test['Fare'].fillna(26.55, inplace=True)

for i,r in df.iterrows():
    if pd.isnull(r['Age']):
        df.loc[df.index[i],'Age'] = df[df['Pclass'] == r['Pclass']]['Age'].median()

for i,r in df_test.iterrows():
    if pd.isnull(r['Age']):
        df_test.loc[df_test.index[i],'Age'] = df_test[df_test['Pclass'] == r['Pclass']]['Age'].median()

In [15]:
df['Fare']=df['Fare']/df['Family']
df_test['Fare']=df_test['Fare']/df_test['Family']

In [16]:
df.drop(columns='Fare', inplace=True)
df_test.drop(columns='Fare', inplace=True)

In [17]:
df['Family'] = pd.cut(df['Family'], bins=[0,1,4,8,15])
df_test['Family'] = pd.cut(df_test['Family'], bins=[0,1,4,8,15])

In [18]:
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Embarked,Status,Family
0,0,3,male,22.0,1,0,A/5 21171,S,Passanger,"(1, 4]"
1,1,1,female,38.0,1,0,PC 17599,C,Passanger,"(1, 4]"
2,1,3,female,26.0,0,0,STON/O2. 3101282,S,Passanger,"(0, 1]"
3,1,1,female,35.0,1,0,113803,S,Passanger,"(1, 4]"
4,0,3,male,35.0,0,0,373450,S,Passanger,"(0, 1]"
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,211536,S,Crew,"(0, 1]"
887,1,1,female,19.0,0,0,112053,S,Passanger,"(0, 1]"
888,0,3,female,24.0,1,2,W./C. 6607,S,Passanger,"(1, 4]"
889,1,1,male,26.0,0,0,111369,C,Passanger,"(0, 1]"
890,0,3,male,32.0,0,0,370376,Q,Passanger,"(0, 1]"

In [19]:
for label, content in df.items():
    if not pd.api.types.is_numeric_dtype(content):
        df[label] = content.astype("category").cat.as_ordered()

for label, content in df_test.items():
    if not pd.api.types.is_numeric_dtype(content):
        df_test[label] = content.astype("category").cat.as_ordered()

In [20]:
for label, content in df.items():
    if not pd.api.types.is_numeric_dtype(content):
            df[label] = pd.Categorical(content).codes

for label, content in df_test.items():
    if not pd.api.types.is_numeric_dtype(content):
            df_test[label] = pd.Categorical(content).codes

In [21]:
df['Clas_Gender']=df['Pclass'].apply(lambda x: np.exp(x))
df_test['Clas_Gender']=df_test['Pclass'].apply(lambda x: np.exp(x))

In [22]:
for i,r in df.iterrows():
    #df.loc[df.index[i],'Class_Gender']= df.loc[df.index[i],'Pclass']
    if(df.loc[df.index[i],'Pclass'] == 1):
        pw=3
    elif(df.loc[df.index[i],'Pclass'] == 2):
        pw=2
    else:
        pw=1
        
    if(df.loc[df.index[i],'Sex'] == 1):
        no = 50
    else:
        no = 3
        
    df.loc[df.index[i],'Clas_Gender'] = np.power( no , pw)

for i,r in df_test.iterrows():
    #df.loc[df.index[i],'Class_Gender']= df.loc[df.index[i],'Pclass']
    if(df_test.loc[df_test.index[i],'Pclass'] == 1):
        pw=3
    elif(df_test.loc[df_test.index[i],'Pclass'] == 2):
        pw=2
    else:
        pw=1
        
    if(df_test.loc[df_test.index[i],'Sex'] == 1):
        no=50
    else:
        no =3
        
    df_test.loc[df_test.index[i],'Clas_Gender'] = np.power( no , pw)

In [23]:
df.drop(columns='Ticket', inplace=True)
df_test.drop(columns='Ticket', inplace=True)

In [26]:
valid = df.sample(n = int(len(df)*0.2))
train = df.drop(valid.index)

In [42]:
df_X_train, df_Y_train, df_X_test, df_Y_test = prepareData(df,df_test,is_valid = False)
X_train, Y_train, X_test, Y_test = prepareData(train,valid,is_valid = True)

In [49]:
X_train.shape[0]

9

In [53]:
parameters = nn_model(X_train, Y_train,n_h=4, pr_cost=True)

9 713
(4, 9)

ValueError: operands could not be broadcast together with shapes (4,713) (713,1)